---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <span class="cs-topper">Top Chef Fantasy League</span>
                <h1 class="cs-title">Dive into the Culinary Battle of the Dairy State!
                </h1>
                <p class="cs-text">
                    Join Gisella, Amy, Chris, and Cody in a gastronomic battle where skills, strategy, and a pinch of luck will determine the next Top Chef Fantasy League Champion!
                </p>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/contestants.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/contestants.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/contestants.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section --> 
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/codyamy-2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/codyamy-2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/codyamy-2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/thegroup-2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/thegroup-2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/thegroup-2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Top Chef Fantasy</h2>
                <p class="cs-text">
                    <strong>Gisella "Rode Buddha to a Season 20 Win"</strong><br>
The reigning champ, Gisella, returns with her eyes on the prize. Last season, she rode the wave of culinary excellence straight to victory. Will her keen intuition for talent bring her to the top once again?
                <p class="cs-text">
                    <strong>Amy "As Long as Cody Doesn't Win"</strong><br>
Amy's in it to win it — with one small caveat: Cody can't snag the trophy. With a competitive fire and a knack for predicting dark horses, Amy's strategy might just stir the pot enough to keep Cody at bay.
                </p>
                <p class="cs-text">
                    <strong>Chris "Rasika My #1"</strong><br>
Chris, a true connoisseur of talent, has his sights set on Rasika, his top pick from the get-go. With an eye for standout chefs and strategic gameplay, Chris is all in, betting on skill and a bit of culinary flair to clinch the title.
                </p>
                <p class="cs-text">
                   <strong>Cody "This Isn't Golf, You Don't Want Negative Points"</strong><br>
Cody's back with a vengeance and a new strategy, aiming to turn his past setbacks into this season's success story. Warning to all: he's here to shake things up and prove that he's more than just a wild card.
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Meet The Cheftestants</span>
            <h2 class="cs-title"></h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/alisha.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/alisha.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/alisha.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}